.mobile-layout {
  height: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
}

.mobile-layout__container {
  width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  background-color: #F4F9FD;
  padding: 24px;
  position: relative;
}
